/* SCROLLER */
/* horizontal scroll snap */
.carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
    
    /* snap to center */  
    & li {
      scroll-snap-align: center;
    }
  }
  
  
  /* SCROLL MARKERS */
  /* create marker group */
  /* create markers for each item */
  .carousel {
    /* create markers 'after' scroller */
    scroll-marker-group: after;
  
    /* create markers container and own dots layout */
    &::scroll-marker-group {
      grid-area: markers; /* place markers in parent grid area */
      
      /* 15px by 15px horizontal grid - size of dots */
      display: grid;
      place-content: safe center;
      grid: 30px / auto-flow 30px;
      gap: 15px;
      padding: 15px;
      scroll-padding: 15px;
      
      /* handle overflow */
      overflow: auto;
      overscroll-behavior-x: contain;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
      
      @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
      }
    }
  
    /* a marker for each <li> */
    & > .content > li {
      /* create by adding content */
      &::scroll-marker {
        content: " "; /* empty content is fine, just like ::before */
        
        /* style it as you need */
        border: 1px solid #bbb;
        border-radius: 50%;
        outline-offset: 4px;
        -webkit-tap-highlight-color: transparent;
        
        /* snap if group is overflowing */
        scroll-snap-align: center;
      }
      
      &::scroll-marker:is(:hover, :focus-visible) {
        border-color: LinkText;
      }
      
      &::scroll-marker:target-current {
        background: LinkText;
        border-color: LinkText;
      }
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @layer support.demo {
    html, body {
      block-size: 100%;
    }
    
    body {
      display: grid;
      place-content: start center;
      margin: 0;
      padding: 10vmin;
    }
    
    .scroll-layout {
      display: grid;
      margin-top: -30rem;
  /*     border: 1px dashed gray; */
      
      /* try a different layout =) */
      grid-template-areas: 
        "left scroll right"
        ". markers .";
      
      /* just place items in the grid */
      grid-template-areas: 
        "scroll scroll scroll"
        "left markers right";
      
      grid-template-columns: auto 1fr auto;
  
      .carousel {
        grid-area: scroll;
      }
    }
    
    .carousel {
      max-inline-size: 80cqi;
      overscroll-behavior-x: contain;
      scroll-behavior: smooth;
    }
  
    .content {
      display: grid;
      grid: 50vmin / auto-flow 50vmin;
      gap: 15px;
      padding: 0;
      margin: 0;
  
      > li {
        list-style-type: none;
        border: 3px solid #888;
      }
    }
  }



/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header */
.header {
    display: flex;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.logo-header {
    text-align: center;
}

.logo-nov {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: antiquewhite;
}

/* Main Content */
.descripcion-productos {
    text-align: center;
    margin-top: 20px;
}

.titulo-descripcion {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.texto-descripcion {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}




